*{
    text-align: center;
}

body{
    background: rgb(0,0,3);
    background: linear-gradient(90deg, rgba(0,0,3,1) 28%, rgba(121,9,9,1) 77%, rgba(244,244,244,1) 100%);
    color: white;
}

#textArea {
    font-size: larger;
}


#winnerDisplay{
    font-style: italic;
    font-weight: bold;
}